body {
  font-family: 'Open Sans', Arial, sans-serif;
  margin: 0;
  background-color: #f8f9fa;
}

header {
  text-align: center;
}

section {
  background-color: #fff;
  border-radius: 0.5rem;
}

input,
select,
button {
  width: 100%;
}

#results {
  font-weight: bold;
}

table {
  width: 100%;
}
